.flex.flex-col.items-center.justify-center.bg-gray-300.overflow-y-scroll{ class: 'w-full', data: { controller: 'form' } }
  .flex.w-full.h-1.items-start.bg-gray-400.mb-12
    .loadbar.h-full{ data: { 'form-target': 'loadbar' } }
  = form_for @loan, html: { class: 'flex flex-col items-center w-full p-12'} do |form|
    .w-full.flex.flex-col.items-center{ data: { 'form-target': 'address' } }
      .w-full.text-start.italic.text-xl= 'What is your target property? (Address, City, State and Zip code)'
      = form.text_field :address, required: true, placeholder: 'Type your answer here...', autocomplete: 'off', class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
    .w-full.flex.flex-col.items-center.hidden{ data: { 'form-target': 'months' } }
      .w-full.text-start.italic.text-xl= 'How many months of loan do you require? (Up to 12 months)'
      = form.number_field :loan_term, required: true, placeholder: 'Type your answer here...', autocomplete: 'off', step: 1, class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
    .w-full.flex.flex-col.items-center.justify-between.hidden{ data: { 'form-target': 'purchase' } }
      .w-full.text-start.italic.text-xl= 'What are you buying the property for? Indicate property price'
      = form.number_field :purchase_price, required: true, placeholder: 'Type your answer here...', autocomplete: 'off', minimum: 0, step: 0.01, class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
    .w-full.flex.flex-col.items-center.justify-between.hidden{ data: { 'form-target': 'repair' } }
      .w-full.text-start.italic.text-xl= 'What is your repair budget?'
      = form.number_field :repair_price, required: true, placeholder: 'Type your answer here...', autocomplete: 'off', step: 0.01, class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
    .w-full.flex.flex-col.items-center.justify-between.hidden{ data: { 'form-target': 'arv' } }
      .w-full.text-start.italic.text-xl= "What is the property's After Repair Value(ARV)?"
      = form.number_field :arv, required: true, placeholder: 'Type your answer here...', autocomplete: 'off', step: 0.01, class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
    .w-full.flex.flex-col.items-center.justify-between.hidden{ data: { 'form-target': 'personal' } }
      .w-full.text-start.italic.text-xl= "Please give us your contact information"
      .flex.flex-col{ class: 'w-1/2' }
        .w-full.text-start.italic.text-xl.mt-4= form.label :name, 'Name:'
        = form.text_field :name, required: true, placeholder: 'Jane Doe', autocomplete: 'off', class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
      .flex.flex-col{ class: 'w-1/2' }
        .w-full.text-start.italic.text-xl.mt-4= form.label :email, 'Email:'
        = form.email_field :email, required: true, placeholder: 'john@doe.com', autocomplete: 'off', class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
      .flex.flex-col{ class: 'w-1/2' }
        .w-full.text-start.italic.text-xl.mt-4= form.label :name, 'Cellphone:'
        = form.text_field :phone, required: true, placeholder: '+1 (201) 95225264', autocomplete: 'off', class: 'p-2 border-0 bg-transparent border-b-2 border-gray-400 focus:border-gray-500 w-full text-2xl focus:ring-0'
      = form.submit 'Calculate', class: 'bg-custom-green text-2xl text-white p-4 rounded-xl mt-8'
    .w-full.flex.items-center.h-12
      .bg-red-700.hidden.p-2.text-white.rounded-xl{ data: { 'form-target': 'error' } }
    .w-full.flex.justify-center.h-24
      = button_tag 'Next', type: :button, class: 'bg-custom-green text-2xl text-white p-4 rounded-xl mt-8', data: { 'form-target': 'next', action: 'click->form#goToNext' }
