<!DOCTYPE html>
<html class='bg-purple-700 text-gray-200 w-full'>
  <head>
    <title>LoanCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='w-full'>
    <main class="flex w-full justify-center pt-24">
      <%= yield %>
    </main>
  </body>
</html>
